@import "tailwindcss";

:root {
  --button-bg-primary: #bdee63;
  color: #fff;
}

/* 横向滚动动画 */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.333%);
  }
}

.animate-scroll {
  animation: scroll 60s linear infinite;
}

/* 伪元素hover效果 */
.hover-effect::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: invert(1);
  background-color: black;
  transform: translate3d(-100%, 0, 0);
  transform-origin: left;
  transition: transform 300ms ease-in-out;
  mix-blend-mode: difference;
  z-index: 5;
}

.hover-effect:hover::before {
  transform: translate3d(0%, 0, 0);
}

@config "../tailwind.config.js";
